.LoginFormWrapper {
  background-color: #fff;
  width: 50%;
  min-width: 300px;
  padding: 3rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @media screen and (max-width: 660px) {
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.LoginButton {
  padding: 1rem;
  align-self: center;
}
